<label for="name-{{ unique }}">{{ label }}</label>

<div class="input__container">
  <div class="input__inline-label">{{ urlBase }}<span data-id="slug"></span></div>
  <input id="name-{{ unique }}" data-id="name" type="text" name="name" placeholder="{{ placeholder }}">
</div>